:root {
  /* text-color */
  --primary-text-color: #FFFFFF;
  --second-text-color: #000000;
  --third-text-color: #907E82;
  --fourth-text-color: #FFA5BA;
  --accent-color: #D41443;

  /* button-color */
  --primary-button-color: #FFFFFF;
  --secondary-button-color: #D41443;

  /* section-background-color */
  --primary-bg-color: #FFF5F6;
  --secondary-bg-color: #FFB8CA;
}