<div class="backdrop is-hidden" data-modal>
  <div class="about-modal">
    <button
      type="button"
      class="button about-modal__button"
      aria-label="Кнопка закрытия модального окна"
      data-modal-close
    >
      <svg class="modal__icon" width="18" height="18">
        <use href="/images/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="about-modal__title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum neque et officia necessitatibus?
    </h2>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eligendi labore quod aperiam
      nulla eum quae unde officia! Rerum id non rem libero architecto ab quisquam nihil beatae
      perferendis blanditiis aliquam illo molestias tempore repudiandae, ipsa explicabo, asperiores
      dolor debitis, expedita eligendi perspiciatis minus sapiente quos! Dicta ratione, at quos quod
      architecto est modi quasi, voluptate nemo earum cum magnam porro debitis nam! Unde dicta
      blanditiis sequi quo facere natus odit alias quae exercitationem impedit est ratione a
      debitis, fuga eius maiores praesentium soluta quas id voluptas quisquam assumenda optio porro.
      Perspiciatis quibusdam aut repudiandae commodi repellat, nihil magni iusto porro consequuntur
      autem quam facilis quia possimus repellendus odio non explicabo alias nostrum officiis tenetur
      est! Quaerat quae quod earum magnam assumenda unde quidem omnis excepturi quisquam,
      consectetur accusamus, aspernatur nobis voluptatibus iure? Suscipit iste beatae dolores sunt
      quasi possimus mollitia eveniet sed corporis ex impedit incidunt aliquam reprehenderit modi,
      tempora, voluptatum perspiciatis voluptatibus velit culpa veniam laborum!
    </p>
  </div>
</div>
