<section class="about">
  <div class="container">
    <p class="section__label">tradition and love</p>

    <h2 class="section__title" id="Howit’smade?">how it's made?</h2>

    <div class="about__wrap">
      <picture>
        <source srcset="/images/about/cow-and-milk.webp 1x, /images/about/cow-and-milk-2x.webp 2x"
          media="(max-width: 767px)" type="image/webp" />
        <source srcset="/images/about/cow-and-milk.png 1x, /images/about/cow-and-milk-2x.png 2x"
          media="(max-width: 767px)" />
        <source srcset="
            /images/about/cow-and-milk-tablet.webp    1x,
            /images/about/cow-and-milk-tablet-2x.webp 2x
          " media="(max-width: 1279px)" type="image/webp" />
        <source srcset="
            /images/about/cow-and-milk-tablet.png    1x,
            /images/about/cow-and-milk-tablet-2x.png 2x
          " media="(max-width: 1279px)" />
        <source srcset="
            /images/about/cow-and-milk-desktop.webp    1x,
            /images/about/cow-and-milk-desktop-2x.webp 2x
          " media="(min-width: 1280px)" type="image/webp" />
        <source srcset="
            /images/about/cow-and-milk-desktop.png    1x,
            /images/about/cow-and-milk-desktop-2x.png 2x
          " media="(min-width: 1280px)" />
        <img src="#" alt="cow and jug of milk" class="about__img" />
      </picture>
      <div class="about__content">
        <p class="about__text--visible">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.</br></br>Aliquam erat volutpat. Aenean accumsan.
        </p>
        <!-- <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p> -->
        <button type="button" class="button about__button" data-modal-open>Read more<svg class="button__icon">
            <use href="/images/icons/sprite.svg#icon-button-icon"></use>
          </svg></button>
      </div>
    </div>
  </div>

</section>