
<section class="section section--advantages">
  <div class="container">
    <h2 class="section__title visually-hidden">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--milk">
        <span class="advantages__lable">
          721
        </span>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--fruits">
        <span class="advantages__lable">
          16kg
        </span>
        <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--ice">
        <span class="advantages__lable">
          84
        </span>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
    
  </section>

