<section class="section__customer-reviews">
  <h2 class="vissually-hidden">customer reviews</h2>

  <div class="container container-swiper">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <picture>
            <source
              srcset="./images/review/Alex.jpg 1x, ./images/review/Alex@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              srcset="./images/review/Alex.webp 1x, ./images/review/Alex@2x.webp 2x"
              type="image/webp"
            />
            <img
              class="customer-item__icon"
              src="#"
              alt="guy in a blue shirt in the green forest"
            />
          </picture>
          <div class="customer-item__box">
            <p class="customer-item__text">
              Alexander is our Team Lead. He played the role of our mentor and assistant, checked
              the code and put all our work together and here is the result :)
            </p>
          </div>
          <p class="customer-item__info">Aleksandr Trenohin, Brovary</p>
        </div>

        <div class="swiper-slide customer-item">
          <picture>
            <source
              srcset="./images/review/valentina.jpg 1x, ./images/review/valentina@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              srcset="./images/review/valentina.webp 1x, ./images/review/valentina@2x.webp 2x"
              type="image/webp"
            />
            <img
              class="customer-item__icon"
              src="#"
              alt="girl with dark long hair in a raincoat at sea"
            />
          </picture>
          <div class="customer-item__box">
            <p class="customer-item__text">
              Valentina is our Scrum master. Informational and very detailed work on the Contacts
              section. Now the customer will be able to find all our locations.Modal window with a
              map is a super cool idea :)
            </p>
          </div>
          <p class="customer-item__info">Valentina Unzhakova, Dnipro</p>
        </div>

        <div class="swiper-slide customer-item">
          <picture>
            <source
              srcset="./images/review/igor.jpg 1x, ./images/review/igor@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              srcset="./images/review/igor.webp 1x, ./images/review/igor@2x.webp 2x"
              type="image/webp"
            />
            <img class="customer-item__icon" src="#" alt="men at night" />
          </picture>
          <div class="customer-item__box">
            <p class="customer-item__text">
              Igor did a hard job on the header and the hero. Now our customers can quickly find
              information about the product and buy it. Added a cool animation that you can
              appreciate :)
            </p>
          </div>
          <p class="customer-item__info">Igor Ponomarenko, Kremenchug</p>
        </div>
        <div class="swiper-slide customer-item">
          <picture>
            <source
              srcset="./images/review/victoria.jpg 1x, ./images/review/victoria@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              srcset="./images/review/victoria.webp 1x, ./images/review/victoria@2x.webp 2x"
              type="image/webp"
            />
            <img
              class="customer-item__icon"
              src="#"
              alt="girl with dark hair in a red jacket in the city"
            />
          </picture>
          <div class="customer-item__box">
            <p class="customer-item__text">
              Victoria deftly did her job on the section Advantages. Now customers will know what
              the products are made of ;) So they can make their choice faster.
            </p>
          </div>
          <p class="customer-item__info">Viktoriia Melnyk , Vinnytsia</p>
        </div>
        <div class="swiper-slide customer-item">
          <picture>
            <source
              srcset="./images/review/Ievgenii.jpg 1x, ./images/review/Ievgenii@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              srcset="./images/review/Ievgenii.webp 1x, ./images/review/Ievgenii@2x.webp 2x"
              type="image/webp"
            />
            <img class="customer-item__icon" src="#" alt="guy in a yellow cap in the city" />
          </picture>
          <div class="customer-item__box">
            <p class="customer-item__text">
              Ievgenii beautifully and informatively described to the customer the products that he
              can buy on our site. I can ask you, what should you choose?
            </p>
          </div>
          <p class="customer-item__info">Ievgenii Chagovets, Kharkiv</p>
        </div>
        <div class="swiper-slide customer-item">
          <picture>
            <source
              srcset="./images/review/Olya.jpg 1x, ./images/review/Olya@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              srcset="./images/review/Olya.webp 1x, ./images/review/Olya@2x.webp 2x"
              type="image/webp"
            />
            <img
              class="customer-item__icon"
              src="#"
              alt="girl with red hair in a turquoise jacket"
            />
          </picture>
          <div class="customer-item__box">
            <p class="customer-item__text">
              Olya has created a section Сustomer-Reviews. Where customers can view reviews of other
              customers and make sure of the quality of our products.
            </p>
          </div>
          <p class="customer-item__info">Olha Dziurakh, Lviv</p>
        </div>
        <div class="swiper-slide customer-item">
          <picture>
            <source
              srcset="./images/review/volodymyr.jpg 1x, ./images/review/volodymyr@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              srcset="./images/review/volodymyr.webp 1x, ./images/review/volodymyr@2x.webp 2x"
              type="image/webp"
            />
            <img class="customer-item__icon" src="#" alt="man near the river " />
          </picture>
          <div class="customer-item__box">
            <p class="customer-item__text">
              Volodymyr informatively designed the Footer section so that customers could get
              information by calling to us and joining our social media pages.
            </p>
          </div>
          <p class="customer-item__info">Volodymyr Kroud, Uzhgorod</p>
        </div>
        <div class="swiper-slide customer-item">
          <picture>
            <source
              srcset="./images/review/Olexsander.jpg 1x, ./images/review/Olexsander@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              srcset="./images/review/Olexsander.webp 1x, ./images/review/Olexsander@2x.webp 2x"
              type="image/webp"
            />
            <img class="customer-item__icon" src="#" alt="smiling man with butterfly on neck" />
          </picture>
          <div class="customer-item__box">
            <p class="customer-item__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customer-item__info">Olexander Belenkiy, Kyiv</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
