<footer class="footer">
  <div class="container">
    <p class="footer__title">homemade ice cream made</p>
    <p class="footer__title-accent">with passion</p>
    <lu class="socials-list">
      <li class="socials-list__item">
        <a href="#" class="socials-list__link">
          <svg class="socials-list_icon" width="20" height="20">
            <use href="./images/icons/sprite.svg#icon-git"></use>
          </svg>
        </a>
      </li>
      <li class="socials-list__item">
        <a href="#" class="socials-list__link">
          <svg class="socials-list_icon" width="20" height="16">
            <use href="./images/icons/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-list__item">
        <a href="#" class="socials-list__link">
          <svg class="socials-list_icon" width="10" height="20">
            <use href="./images/icons/sprite.svg#icon-fb"></use>
          </svg>
        </a>
      </li>
    </lu>
    <a class="footer__link" href="+61 (0) 383 766 284"
      >Feel free to contact<span class="footer__link-accent">+61 (0) 383 766 284</span></a
    >
    <div class="container-copiryght">
      <p class="footer__copiryght">© 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
