<footer class="footer">
  <div class="container">
    <div class="container-footer-top">
      <div class="container-footer-title">
        <p class="footer__title">homemade ice cream made</p>
        <p class="footer__title-accent">with passion</p>
      </div>
      <div class="container-footer-socials">
        <ul class="socials-list">
          <li class="socials-list__item">
            <a
              href="https://github.com"
              target="_blank"
              rel="noreferrer noopener"
              class="socials-list__link"
            >
              <svg class="socials-list_icon" width="20" height="20">
                <use href="./images/icons/sprite.svg#icon-git"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list__item">
            <a
              href="https://telegram.org"
              target="_blank"
              rel="noreferrer noopener"
              class="socials-list__link"
            >
              <svg class="socials-list_icon" width="20" height="16">
                <use href="./images/icons/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list__item">
            <a
              href="https://www.facebook.com"
              target="_blank"
              rel="noreferrer noopener"
              class="socials-list__link"
            >
              <svg class="socials-list_icon" width="10" height="20">
                <use href="./images/icons/sprite.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a class="footer__link" href="tel:+61(0)383766284"
          >Feel free to contact<span class="footer__link-accent"> +61 (0) 383 766 284</span></a
        >
      </div>
    </div>
    <div class="container-footer-bottom">
      <p class="footer__copiryght">© 2021 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
