<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container gallery__container">
    <div class="gallery__row">
          <div class="gallery__column">
              <div class="gallery__item">
              <picture>
                <source srcset="./images/gallery/desktop/left1.jpg" type="image/jpg" />
                <img src="#" alt="gal">
              </picture>
              </div>
           </div>
          <div  class="gallery__column">
              <div class="gallery__item">
                <picture>
                  <source srcset="./images/gallery/desktop/left2.jpg" type="image/jpg" />
                  <img src="#" alt="gal">
                </picture>
              </div>
              <div class="gallery__item">
                <picture>
                  <source srcset="./images/gallery/desktop/left3.jpg" type="image/jpg" />
                  <img src="#" alt="gal">
                </picture>
              </div>
           </div>
          <div class="gallery__column">
            <div class="gallery__item">
              <picture>
                <source srcset="./images/gallery/desktop/central.jpg" type="image/jpg" />
                <img src="#" alt="gal">
              </picture>
            </div>
            <div class="gallery__item">
              <picture>
                <source srcset="./images/gallery/desktop/left4.jpg" type="image/jpg" />
                <img src="#" alt="gal">
              </picture>
            </div>
            
          </div>
          <div class="gallery__column">
            <div class="gallery__item">
              <picture>
                <source srcset="./images/gallery/desktop/right1.jpg" type="image/jpg" />
                <img src="#" alt="gal">
              </picture>
            </div>
            <div class="gallery__item">
              <picture>
                <source srcset="./images/gallery/desktop/right2.jpg" type="image/jpg" />
                <img src="#" alt="gal">
              </picture>
            </div>
          </div>
          <div class="gallery__column">
            <div class="gallery__item">
              <picture>
                <source srcset="./images/gallery/desktop/right3.jpg" type="image/jpg" />
                <img src="#" alt="gal">
              </picture>
            </div>
            <div class="gallery__item">
              <picture>
                <source srcset="./images/gallery/desktop/right4.jpg" type="image/jpg" />
                <img src="#" alt="gal">
              </picture>
            </div>
          </div>
          <div class="gallery__column">
              <div class="gallery__item">
                <picture>
                  <source srcset="./images/gallery/desktop/right5.jpg" type="image/jpg"/>
                  <img src="#" alt="gal">
                </picture>
              </div>
          </div>
          </div>
  </div>
</section>
<!--<picture>
  <source srcset="/images/gallery/gallery.webp 1x, /images/gallery/gallery-2x.webp 2x" media="(max-width: 767px)"
    type="image/webp" />
  <source srcset="/images/gallery/gallery.jpg 1x, /images/gallery/gallery-2x.jpg 2x" media="(max-width: 767px)" />
  <source srcset="/images/gallery/gallery-tablet.webp 1x, /images/gallery/gallery-tablet-2x.webp 2x"
    media="(max-width: 1279px)" type="image/webp" />
  <source srcset="/images/gallery/gallery-tablet.jpg 1x, /images/gallery/gallery-tablet-2x.jpg 2x"
    media="(max-width: 1279px)" />
  <source srcset="/images/gallery/gallery-desktop.webp 1x, /images/gallery/gallery-desktop-2x.webp 2x"
    media="(min-width: 1280px)" type="image/webp" />
  <source srcset="/images/gallery/gallery-desktop.jpg 1x, /images/gallery/gallery-desktop-2x.jpg 2x"
    media="(min-width: 1280px)" />
  <img src="#" alt="cow and jug of milk" class="about__img" />
</picture>-->