<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container gallery__container">
    <div class="gallery__row">
          <div class="gallery__column gallery__column-1">
              <div class="gallery__item">
              <picture>
                <source media="(min-width: 1280px)" srcset="./images/gallery/desktop/gallery_left1_desktop.jpg 1x, ./images/gallery/desktop/gallery_left1@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_left1_desktop.webp 1x, ./images/gallery/desktop/gallery_left1@2x_desktop.webp 2x" type="image/webp"/>
                
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/gallery_left1_tablet.jpg 1x, ./images/gallery/tablet/gallery_left1@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/gallery_left1_tablet.webp 1x, ./images/gallery/tablet/gallery_left1@2x_tablet.webp 2x"
                  type="image/webp" />
                  <source 
                    srcset="./images/gallery/mobile/gallery_left1_mobile.jpg 1x, ./images/gallery/mobile/gallery_left1@2x_mobile.jpg 2x"
                    type="image/jpg" />
                  <source 
                    srcset="./images/gallery/mobile/gallery_left1_mobile.webp 1x, ./images/gallery/mobile/gallery_left1@2x_mobile.webp 2x"
                    type="image/webp" />
                    <img src="#" alt="gal">
              </picture>
              </div>
           </div>
         <div  class="gallery__column gallery__column-2">
              <div class="gallery__item">
                <picture>
                  <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_left2_desktop.jpg 1x, ./images/gallery/desktop/gallery_left2@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_left2_desktop.webp 1x, ./images/gallery/desktop/gallery_left2@2x_desktop.webp 2x" type="image/webp"/>
                 <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/gallery_left2_tablet.jpg 1x, ./images/gallery/tablet/gallery_left2@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/gallery_left2_tablet.webp 1x, ./images/gallery/tablet/gallery_left2@2x_tablet.webp 2x"
                  type="image/webp" />
                  <source 
                    srcset="./images/gallery/mobile/gallery_left2_mobile.jpg 1x, ./images/gallery/mobile/gallery_left2@2x_mobile.jpg 2x"
                    type="image/jpg" />
                  <source 
                    srcset="./images/gallery/mobile/gallery_left2_mobile.webp 1x, ./images/gallery/mobile/gallery_left2@2x_mobile.webp 2x"
                    type="image/webp" />  
                <img src="#" alt="gal">
                </picture>
              </div>
              <div class="gallery__item">
                <picture>
                 <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_left3_desktop.jpg 1x, ./images/gallery/desktop/gallery_left3@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_left3_desktop.webp 1x, ./images/gallery/desktop/gallery_left3@2x_desktop.webp 2x" type="image/webp"/>
                 <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/gallery_left3_tablet.jpg 1x, ./images/gallery/tablet/gallery_left3@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/gallery_left3_tablet.webp 1x, ./images/gallery/tablet/gallery_left3@2x_tablet.webp 2x"
                  type="image/webp" />
                  <source 
                    srcset="./images/gallery/mobile/gallery_left3_mobile.jpg 1x, ./images/gallery/mobile/gallery_left3@2x_mobile.jpg 2x"
                    type="image/jpg" />
                  <source 
                    srcset="./images/gallery/mobile/gallery_left3_mobile.webp 1x, ./images/gallery/mobile/gallery_left3@2x_mobile.webp 2x"
                    type="image/webp" />  
                <img src="#" alt="gal">
                </picture>
              </div>
            </div>
          <div class="gallery__column gallery__column-3">
            <div class="gallery__item">
              <picture>
               <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/central_desktop.jpg 1x, ./images/gallery/desktop//central@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/central_desktop.webp 1x, ./images/gallery/desktop//central@2x_desktop.webp 2x" type="image/webp"/>
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/central_tablet.jpg 1x, ./images/gallery/tablet/central@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/central_tablet.webp 1x, ./images/gallery/tablet/central@2x_tablet.webp 2x"
                  type="image/webp" />
                <source 
                  srcset="./images/gallery/mobile/central_mobile.jpg 1x, ./images/gallery/mobile/central@2x_mobile.jpg 2x"
                  type="image/jpg" />
                <source 
                  srcset="./images/gallery/mobile/central_mobile.webp 1x, ./images/gallery/mobile/central@2x_mobile.webp 2x"
                  type="image/webp" />
                <img src="#" alt="gal">
              </picture>
            </div>
            <div class="gallery__item gallery__item-girl">
              <picture>
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_left4_desktop.jpg 1x, ./images/gallery/desktop/gallery_left4@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_left4_desktop.webp 1x, ./images/gallery/desktop/gallery_left4@2x_desktop.webp 2x" type="image/webp"/>
                 <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/gallery_left4_tablet.jpg 1x, ./images/gallery/tablet/gallery_left4@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet/gallery_left4_tablet.webp 1x, ./images/gallery/tablet/gallery_left4@2x_tablet.webp 2x"
                  type="image/webp" />
                  <source 
                    srcset="./images/gallery/mobile/gallery_left4_mobile.jpg 1x, ./images/gallery/mobile/gallery_left4@2x_mobile.jpg 2x"
                    type="image/jpg" />
                  <source 
                    srcset="./images/gallery/mobile/gallery_left4_mobile.webp 1x, ./images/gallery/mobile/gallery_left4@2x_mobile.webp 2x"
                    type="image/webp" />
                <img src="#" alt="gal">
              </picture>
            </div>
            
          </div>
          <div class="gallery__column gallery__column-4">
            <div class="gallery__item">
              <picture>
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right1_desktop.jpg 1x, ./images/gallery/desktop/gallery_right1@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right1_desktop.webp 1x, ./images/gallery/desktop/gallery_right1@2x_desktop.webp 2x" type="image/webp"/>
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right1_tablet.jpg 1x, ./images/gallery/tablet//gallery_right1@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right1_tablet.webp 1x, ./images/gallery/tablet//gallery_right1@2x_tablet.webp 2x"
                  type="image/webp" />
                <source 
                  srcset="./images/gallery/mobile//gallery_right1_mobile.jpg 1x, ./images/gallery/mobile//gallery_right1@2x_mobile.jpg 2x"
                  type="image/jpg" />
                <source 
                  srcset="./images/gallery/mobile/gallery_right1_mobile.webp 1x, ./images/gallery/mobile//gallery_right1@2x_mobile.webp 2x"
                  type="image/webp" />
                <img src="#" alt="gal">
              </picture>
            </div>
            <div class="gallery__item">
              <picture>
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right2_desktop.jpg 1x, ./images/gallery/desktop/gallery_right2@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right2_desktop.webp 1x, ./images/gallery/desktop/gallery_right2@2x_desktop.webp 2x" type="image/webp"/>
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right2_tablet.jpg 1x, ./images/gallery/tablet//gallery_right2@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right2_tablet.webp 1x, ./images/gallery/tablet//gallery_right2@2x_tablet.webp 2x"
                  type="image/webp" />
                <source 
                  srcset="./images/gallery/mobile//gallery_right2_mobile.jpg 1x, ./images/gallery/mobile//gallery_right2@2x_mobile.jpg 2x"
                  type="image/jpg" />
                <source 
                  srcset="./images/gallery/mobile/gallery_right2_mobile.webp 1x, ./images/gallery/mobile//gallery_right2@2x_mobile.webp 2x"
                  type="image/webp" />
                <img src="#" alt="gal">
              </picture>
            </div>
          </div>
          <div class="gallery__column gallery__column-5">
            <div class="gallery__item">
              <picture>
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right3_desktop.jpg 1x, ./images/gallery/desktop/gallery_right3@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right3_desktop.webp 1x, ./images/gallery/desktop/gallery_right3@2x_desktop.webp 2x" type="image/webp"/>
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right3_tablet.jpg 1x, ./images/gallery/tablet//gallery_right3@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right3_tablet.webp 1x, ./images/gallery/tablet//gallery_right3@2x_tablet.webp 2x"
                  type="image/webp" />
                <source 
                  srcset="./images/gallery/mobile//gallery_right3_mobile.jpg 1x, ./images/gallery/mobile//gallery_right3@2x_mobile.jpg 2x"
                  type="image/jpg" />
                <source 
                  srcset="./images/gallery/mobile/gallery_right3_mobile.webp 1x, ./images/gallery/mobile//gallery_right3@2x_mobile.webp 2x"
                  type="image/webp" />
                <img src="#" alt="gal">
              </picture>
            </div>
            <div class="gallery__item">
              <picture>
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right4_desktop.jpg 1x, ./images/gallery/desktop/gallery_right4@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right4_desktop.webp 1x, ./images/gallery/desktop/gallery_right4@2x_desktop.webp 2x" type="image/webp"/>
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right4_tablet.jpg 1x, ./images/gallery/tablet//gallery_right4@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right4_tablet.webp 1x, ./images/gallery/tablet//gallery_right4@2x_tablet.webp 2x"
                  type="image/webp" />
                <source 
                  srcset="./images/gallery/mobile//gallery_right4_mobile.jpg 1x, ./images/gallery/mobile//gallery_right4@2x_mobile.jpg 2x"
                  type="image/jpg" />
                <source 
                  srcset="./images/gallery/mobile/gallery_right4_mobile.webp 1x, ./images/gallery/mobile//gallery_right4@2x_mobile.webp 2x"
                  type="image/webp" />
                <img src="#" alt="gal">
              </picture>
            </div>
          </div>
          <div class="gallery__column gallery__column-6">
              <div class="gallery__item">
                <picture>
                  <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right5_desktop.jpg 1x, ./images/gallery/desktop/gallery_right5@2x_desktop.jpg 2x" type="image/jpg" />
                <source media="(min-width: 1280px)"srcset="./images/gallery/desktop/gallery_right5_desktop.webp 1x, ./images/gallery/desktop/gallery_right5@2x_desktop.webp 2x" type="image/webp"/>
                 <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right5_tablet.jpg 1x, ./images/gallery/tablet//gallery_right5@2x_tablet.jpg 2x"
                  type="image/jpg" />
                <source media="(min-width: 768px)"
                  srcset="./images/gallery/tablet//gallery_right5_tablet.webp 1x, ./images/gallery/tablet//gallery_right5@2x_tablet.webp 2x"
                  type="image/webp" />
                  <source
                    srcset="./images/gallery/mobile//gallery_right5_mobile.jpg 1x, ./images/gallery/mobile//gallery_right5@2x_mobile.jpg 2x"
                    type="image/jpg" />
                  <source                     srcset="./images/gallery/mobile/gallery_right5_mobile.webp 1x, ./images/gallery/mobile//gallery_right5@2x_mobile.webp 2x"
                    type="image/webp" />  
                <img src="#" alt="gal">
                </picture>
              </div>
          </div>
          </div>
  </div>
</section>
<!--<picture>
  <source srcset="/images/gallery/gallery.webp 1x, /images/gallery/gallery-2x.webp 2x" media="(max-width: 767px)"
    type="image/webp" />
  <source srcset="/images/gallery/gallery.jpg 1x, /images/gallery/gallery-2x.jpg 2x" media="(max-width: 767px)" />
  <source srcset="/images/gallery/gallery-tablet.webp 1x, /images/gallery/gallery-tablet-2x.webp 2x"
    media="(max-width: 1279px)" type="image/webp" />
  <source srcset="/images/gallery/gallery-tablet.jpg 1x, /images/gallery/gallery-tablet-2x.jpg 2x"
    media="(max-width: 1279px)" />
  <source srcset="/images/gallery/gallery-desktop.webp 1x, /images/gallery/gallery-desktop-2x.webp 2x"
    media="(min-width: 1280px)" type="image/webp" />
  <source srcset="/images/gallery/gallery-desktop.jpg 1x, /images/gallery/gallery-desktop-2x.jpg 2x"
    media="(min-width: 1280px)" />
  <img src="#" alt="cow and jug of milk" class="about__img" />
</picture>-->