<!-- header -->
<header class="header">
  <div class="container header-container">
    <a class="header-link" href="">

      <img class="header-link__logo" src="./images/icons/header/logo.svg" alt="logo">

    </a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link" href="">Home</a>
        </li>
        <li class="header-nav__item">

          <a class="header-nav__link" href="#Aboutus">About us</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#Howit’smade?">How it’s made?</a>

        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#Products">Our products</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#Contact">Contact</a>
        </li>
      </ul>
    </nav>
    <ul class="header-buttons">
      <li class="header-buttons__item">
        <button class="header-buttons__burger" type="button" data-menu-open>
          <svg class="header-buttons__icon">
            <use href="./images/icons/sprite.svg#icon-header-burger"></use>
          </svg>
        </button>
      </li>
      <li class="header-buttons__item header-buttons__item--margin">
        <button class="button header-buttons__button" type="button" data-modal-open-order>
          Buy now
          <svg class="button__icon">
            <use href="./images/icons/sprite.svg#icon-button-icon"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <!-- container -->
</header>
<!-- header -->
