<section class="hero">
  <div class="container hero-container">
    <div class="hero-background animate__animated animate__zoomIn">
      <picture>

        <source media="(min-width: 1280px)" srcset="
      ./images/hero/hero-2/desktop/hero-2-desktop.webp 1x,
      ./images/hero/hero-2/desktop/hero-2-desktop@2x.webp 2x
      " type="image/webp" />
        <source media="(min-width: 1280px)" srcset="
      ./images/hero/hero-2/desktop/hero-2-desktop.png 1x,
      ./images/hero/hero-2/desktop/hero-2-desktop@2x.png 2x
      " />
        <source media="(min-width: 768px)" srcset="
      ./images/hero/hero-2/tablet/hero-2-tablet.webp 1x,
      ./images/hero/hero-2/tablet/hero-2-tablet@2x.webp 2x
      " type="image/webp" />
        <source media="(min-width: 768px)" srcset="
      ./images/hero/hero-2/tablet/hero-2-tablet.png 1x,
      ./images/hero/hero-2/tablet/hero-2-tablet@2x.png 2x
      " />
        <source media="(max-width: 767px)" srcset="
      ./images/hero/hero-2/mobile/hero-1-mobile.webp 1x,
      ./images/hero/hero-2/mobile/hero-1-mobile@2x.webp 2x
      " type="image/webp" />
        <source media="(max-width: 767px)" srcset="
      ./images/hero/hero-2/mobile/hero-1-mobile.png 1x,
      ./images/hero/hero-2/mobile/hero-1-mobile@2x.png 2x
      " />
        <img class="hero__image-icecream animate__animated animate__bounceInDown" src="#" alt="icecream">

      </picture>
    </div>
    <h1 class="hero__title">ice cream made with <span>passion</span></h1>
    <ul class="place-list">
      <li class="place-list__item">
        <p class="place-list__text place-list__text--big">16</p>
        <p class="place-list__text">cafes</p>
      </li>
      <li class="place-list__item">
        <p class="place-list__text place-list__text--big">23</p>
        <p class="place-list__text">food trucks</p>
      </li>
    </ul>
    <ul class="hero-list">
      <li class="hero-list__item">
        <a class="hero-list__link hero-list__link--red" href="#Products">Products</a>
      </li>
      <li class="hero-list__item">

        <a class="hero-list__link hero-list__link--white" href="#Howit’smade?">How it’s made?</a>

      </li>
    </ul>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/hero-1/desktop/hero-1-desktop.webp    1x,
          ./images/hero/hero-1/desktop/hero-1-desktop@2x.webp 2x
        "
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/hero-1/desktop/hero-1-desktop.png    1x,
          ./images/hero/hero-1/desktop/hero-1-desktop@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-1/tablet/hero-1-tablet.webp    1x,
          ./images/hero/hero-1/tablet/hero-1-tablet@2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-1/tablet/hero-1-tablet.png    1x,
          ./images/hero/hero-1/tablet/hero-1-tablet@2x.png 2x
        "
      />
      <img class="hero__image-milk animate__animated animate__zoomIn" src="#" alt="milk" />
    </picture>
    <div class="hero-info">
      <p class="hero-info__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero-info__button" type="button">
        <svg class="hero-info__icon">
          <use href="./images/icons/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/hero-4/desktop/hero-4-desktop.webp    1x,
          ./images/hero/hero-4/desktop/hero-4-desktop@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/hero-4/desktop/hero-4-desktop.png    1x,
          ./images/hero/hero-4/desktop/hero-4-desktop@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-4/tablet/hero-4-tablet.webp    1x,
          ./images/hero/hero-4/tablet/hero-4-tablet@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-4/tablet/hero-4-tablet.png    1x,
          ./images/hero/hero-4/tablet/hero-4-tablet@2x.png 2x
        "
      />
      <img
        class="hero__image-girl animate__animated animate__fadeInRight"
        src="#"
        alt="girl-eat-icecream"
      />
    </picture>
  </div>
  <!-- container -->
</section>
<!-- section -->
