    <!-- mobile-menu -->
    <div class="mobile">
      <button class="mobile-close" type="button">
        <svg class="mobile-close__icon">
          <use href="./images/icons/sprite.svg#icon-close">
          </use>
        </svg>
      </button>
      <button class="button button-mobile" type="button">
        Buy now
        <svg class="button__icon">
          <use href="./images/icons/sprite.svg#icon-button-icon"></use>
        </svg>
      </button>
      <ul class="mobile-menu">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="">About us</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="">Contact</a>
        </li>
      </ul>
    </div> <!-- mobile-menu -->