<div class="mobile" data-menu>
  <button class="mobile-close" type="button" data-menu-close>
    <svg class="mobile-close__icon">
      <use href="./images/icons/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <button class="button button-mobile" type="button" data-modal-open-order>
    Buy now
    <svg class="button__icon">
      <use href="./images/icons/sprite.svg#icon-button-icon"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#Aboutus">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#Howit’smade?">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#Products">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#Contact">Contact</a>
    </li>
  </ul>
</div>
