<section class="products">
  <div class="container">
    <p class="section__label">100% natural</p>
    <h2 class="section__title" id="Products">PRODUCTS</h2>
    <ul class="products__list">
      <li class="products__item product-1">
        <h3 class="products__item-name">ICE CREAM</h3>
        <p class="products__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="description__button-open">
          <svg class="product-button" width="40" height="40">
            <use class="product-button__icon" href="./images/icons/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item product-2">
        <h3 class="products__item-name">ICE COFFEE</h3>
        <p class="products__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="description__button-open">
          <svg class="product-button" width="40" height="40">
            <use class="product-button__icon" href="./images/icons/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item product-3">
        <h3 class="products__item-name">MILKSHAKES</h3>
        <p class="products__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="description__button-open">
          <svg class="product-button" width="40" height="40">
            <use class="product-button__icon" href="./images/icons/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
-->
