.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--secondary-button-color);
  background-color: var(--primary-button-color);
  border-radius: 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    transform: scale(1.1);
    color: var(--primary-button-color);
    background-color: var(--secondary-button-color);
  }
}

.button__icon {
  stroke: var(--accent-color);
  margin-left: 10px;
  width: 7px;
  height: 9px;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button:focus &,
  .button:hover & {
    stroke: #FFFFFF;
  }
}