.mobile {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  width: 250px;
  height: 100vh;

  padding: 60px 0;

  border-radius: 20px 0 0 20px;

  background: linear-gradient(45deg, #EECDA3, #EF629F);
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0%);
  }

  @media screen and (min-width:321px) and (max-width:1279px) {
    width: 254px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.mobile-close {
    position: absolute;
    top: 23px;
    right: 28px;
}

.mobile-close__icon {
  stroke: var(--primary-button-color);
  width: 14px;
  height: 14px;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mobile-close:focus &,
  .mobile-close:hover & {
    stroke: var(--secondary-button-color);
  }
}

.button-mobile {
  display: block;
  margin: auto;
  margin-bottom: 19px;
  padding: 13px 62px;
}

.mobile-menu__item {
    padding: 12px 0 12px 12px;
    border-top: 1px solid #c75a5a4d;

    &:last-child {
      border-bottom: 1px solid #c75a5a4d;
    }
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  &:focus,
  &:hover {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--accent-color);
  }
}