.customer-item {
  display: flex;
  flex-direction: column;
}

%review-text {
  font-weight: 500;
  color: black;
  font-family: 'DM Sans';
  text-align: center;
  letter-spacing: 0.04em;
}

.customer-item__icon {
  width: 85px;
  height: 85px;
  margin-bottom: 29px;

  @media screen and (min-width: 768px) {
    width: 85px;
    height: 85px;
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1200px) {
    width: 85px;
    height: 85px;
    margin-bottom: 15px;
  }
}
.dots {
  color: #c7133e;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-top: 24px;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.quotes {
  fill: currentColor;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  z-index: -1;
}
.text-decoration {
  background: #fafafa;
  z-index: 1;
  width: 100%;
}
.text-underline {
  background: repeating-linear-gradient(#bbb 1px, transparent 3px, transparent 31px);
  z-index: 2;
  width: 100%;
}
.customer-item__text {
  @extend%review-text;
  font-size: 12px;
  line-height: 2.55em;
  display: block;
  width: 100%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16em;

    /*width: 460px;*/
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.86em;

    /*width: 750px;*/
  }
}
.customer-item__info {
  @extend%review-text;
  font-size: 14px;
  line-height: 1.86em;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.swiper-pagination {
  position: relative;
  color: #d9d9d9;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /*text-align: center;
  font-size: 18px;*/

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /*width: 100%;
  height: 100%;*/
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: #d31342;
}
.swiper-pagination .swiper-pagination-bullet:first-child {
  mask: url('../images/review/home 1.svg') no-repeat;
  -webkit-mask: url('../images/review/home 1.svg') no-repeat;
  border-radius: 0;
}
