.section__customer-reviews {
  padding-bottom: 42px;
  @media screen and (min-width: 768px) {
    padding-bottom: 75px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 88px;
  }
}

.customer-item {
  display: flex;
  flex-direction: column;
}

%review-text {
  font-weight: 500;
  color: black;
  font-family: 'DM Sans';
  text-align: center;
  letter-spacing: 0.04em;
}

.customer-item__icon {
  width: 85px;
  height: 85px;
  margin-bottom: 29px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*&:hover {
    transition: 3s; /
    display: block;
    transform: scale(1.2);
  }*/

  @media screen and (min-width: 768px) {
    width: 85px;
    height: 85px;
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    width: 85px;
    height: 85px;
    margin-bottom: 15px;
  }
}

.customer-item__box {
  position: relative;
  margin: auto;
  height: auto;
  background-color: #fafafa;
  width: 100%;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 8px 30px rgb(212 20 67 / 3%);

  @media screen and (min-width: 320px) {
    width: 280px;
    padding-top: 43px;
    padding-bottom: 26px;
    margin-bottom: 52px;
  }
  @media screen and (min-width: 768px) {
    width: 620px;
    padding-top: 47px;
    padding-bottom: 34px;
    margin-bottom: 42px;
  }
  @media screen and (min-width: 1280px) {
    width: 926px;
    padding: 32px 50px;
  }
}

.customer-item__text {
  @extend%review-text;
  font-size: 12px;
  line-height: 2.55em;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  text-indent: 35px;

  @media screen and (min-width: 320px) {
    text-indent: 0;
    width: 157px;
    background-image: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 29px,
      #e1e1e1 0,
      #e1e1e1 30px
    );
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    text-indent: 20px;
    line-height: 2.16em;
    width: 460px;
    background-image: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 29px,
      #e1e1e1 0,
      #e1e1e1 30px
    );
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86em;
    width: 822px;
    background-image: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 29px,
      #e1e1e1 0,
      #e1e1e1 30px
    );
  }
  &:before {
    content: '';
    display: inline-block;
    width: 54px;
    height: 40px;
    position: absolute;
    z-index: -1;
    top: -9px;
    left: -8px;
    background-image: url(../images/review/quotes.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }
}
.customer-item__info {
  @extend%review-text;
  font-size: 14px;
  line-height: 1.86em;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }

  &::before {
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/review/dots.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

    @media screen and (min-width: 768px) {
      margin-top: 24px;
      margin-bottom: 14px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
.swiper-pagination {
  color: #d9d9d9;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /*width: 100%;
  height: 100%;*/
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: #d31342;
  mask: url('../images/review/home.svg') no-repeat;
  -webkit-mask: url('../images/review/home.svg') no-repeat;
  border-radius: 0;
}
