// ============= header =============
.header {
  background-color: #FFB8CA;
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding: 37px 0 0 0;
  }

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  position: relative;
  z-index: 3;

  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.header-nav__list {
  display: flex;
}

.header-nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.header-nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--primary-button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.header-buttons {

}

.header-buttons__item {
  display: inline-block;
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    &:last-child {
      margin-left: 30px;
    }
  }
}

.header-buttons__burger {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 3;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header-buttons__icon {
  width: 20px;
  height: 12px;
}

.header-buttons__button {
  padding: 12px 37px;

  color: var(--secondary-button-color);
  background-color: var(--primary-button-color);

  border-radius: 50px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 3;
  }
}

// ============= header ============= //



// ============= hero =============
.hero {
  padding: 137px 0 160px 0;
  background-color: #FFB8CA;

  @media screen and (max-width: 767px) {
    position: relative;
  }

  @media screen and (min-width: 768px) {
    position: static;
    padding: 15px 0 0 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 84px 0 20px 0;
  }
}

.hero-container {
  @media screen and (min-width: 768px) {
    position: relative;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
  }
}

.hero__title {
  display: inline-block;
  position: relative;
  z-index: 3;

  width: 218px;

  margin-bottom: 19px;

  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primary-button-color);

  @media screen and (min-width: 768px) {
    width: 162px;
    margin-bottom: 20px;

    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    width: 277px;
    margin-bottom: 25px;

    font-size: 38px;
    line-height: 1.16;
  }

  & span {
    font-size: 48px;
    line-height: 0.96;

    color: var(--accent-color);

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 0.90;
    }
  }
}

.place-list {
  position: absolute;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    top: 0;
    right: 15px;
  }
}

.place-list__item {
  position: relative;
  z-index: 1;
  margin-bottom: 13px;
}

.place-list__item::after {
  position: absolute;
  display: inline-block;
  content: '';
  z-index: -1;

  background-color: #FFFFFF;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    right: -8px;
    top: -3px;
    width: 15px;
    height: 15px;
  }

  @media screen and (min-width: 1280px) {
    right: -15px;
    top: -8px;
    width: 30px;
    height: 30px;
  }
}

.place-list__text {
  text-align: right;

  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.place-list__text--big {
  letter-spacing: 0.04em;
  color: var(--accent-color);
  font-family: Titan One;
  text-align: right;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero-list {

}

.hero-list__item {
  display: inline-block;

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.hero-list__button {
  position: relative;
  z-index: 3;

  padding: 9px 14px;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;

  @media screen and (min-width: 1280px) {
    padding: 12px 22px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero-list__button--red {
  color: var(--primary-button-color);
  background-color: var(--secondary-button-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--secondary-button-color);
    background-color: var(--primary-button-color);
    box-shadow: 0 15px 20px -5px rgba(212, 20, 67, 1);
  }
}

.hero-list__button--white {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 0 15px 20px -5px rgba(255, 255, 255, 1);
  }
}

.hero-info {
  display: inline-block;
}

.hero-info__text {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 114px;
    margin-bottom: 7px;
    font-size: 8px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero-info__button {
  line-height: 0;
}

.hero-info__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

// ============= image =============
.hero__image-icecream {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 1;

  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 1280px) {
    right: 30%;
  }
}

  .hero__image-background {
    position: absolute;
    right: 0;
    bottom: 75px;

    @media screen and (min-width: 768px) {

    }

    @media screen and (min-width: 1280px) {
          left: 50%;
          bottom: 42px;
          transform: translateX(-25%);
    }
  }

  .hero__image-milk {
    display: inline-block;
    margin-top: 56px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .hero__image-girl {
    position: absolute;
    @media screen and (max-width: 767px) {
      display: none;
    }
    bottom: 0;
    right: -15px;
  }
